* {
    margin: 0px;
    padding: 0px;
}


header {
    background-color: rgb(255, 51, 0);
    border: 5px black solid;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    font-size: 30px
}

ul li {
    display: inline-block;
    padding: 0px 20px;
}

a {
    font-size: 20px;
    color: black;
}

.div1 {
    background-color: blue;
    width: 200vh;
    height: 100vh;
}

.div2 {
    background-color: brown;
    width: 200vh;
    height: 100vh;
    
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}