* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(255, 51, 0);

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px black solid;
    height: 50px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}


